* {
    box-sizing: border-box;
}

body {
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

img {
    max-width: 100%;
}

.app-container {
    width: 400px;
    background-color: #fff;
    box-shadow: 0 0 2px #3333331a;
    border-radius: 3px;
    overflow: hidden;
    width: 400px;
    
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.searchbar input {
    background-color: #eee;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;    
}

.searchbar button {
    background-color: transparent;
    border: none;
    color: #aaa;
    font-size: 1.5rem;
    margin-left: 10px;
}

.fav-container {
    /* background-color: rgb(228, 220, 216); */
    background: #ddd6f3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #faaca8, #ddd6f3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #faaca8, #ddd6f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0.5rem 1rem;
    text-align: center;
}

.fav-meals {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.fav-meals li {
    margin: 5px;
    width: 85px;
}

.fav-meals li img {
    border: 2.5px solid #ffffff;
    background-color: rgb(226, 223, 223);
    border-radius: 50%;
    object-fit: cover;
    height: 70px;
    width: 70px;
}

.fav-meals li span {
    font-size: 0.8rem;
}

.randomMeal-container {
    margin: 1.5rem;
    border-radius: 3px;
    box-shadow: 0 0 2px #3333331a;
}

.meal-header {
    position: relative;
}

.meal-header .random {
    position: absolute;
    top: 1rem;
    background-color: #fff;
    padding: 0.25rem 0.5rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.meal-header img {
    object-fit: cover;
    height: 250px;
    width: 100%;
}

.meal-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
}

.meal-body h4 {
    margin: 0;
}

.meal-body .fav-btn {
    border: none;
    background-color: transparent;
    color: lightgray;
    font-size: 1.2rem;
    cursor: pointer;
}

.meal-body .fav-btn.active {
    color: tomato;
}